<%- include('partials/header') %>

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <p style="color: green; border-radius: 80%;"><%= regSuccess %></p>

            <div class="mb-md-5">
              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">Please enter your login and password!</p>

              <form action="/login" method="POST">
                <div class="form-outline form-white mb-4">
                  <input type="email" name="email" class="form-control form-control-lg" placeholder="Email"/ required>
                </div>
                <div class="form-outline form-white mb-4">
                  <input type="password" name="password" class="form-control form-control-lg" placeholder="Password"/ required>
                </div>
                <div class="wrongCreds">
                  <p style='color: red;'><%= wrongCreds %></p>
                </div>
                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
              </form>
              
            </div>

            <div>
              <p class="mb-0">Don't have an account? <a href="/register" class="text-white-50 fw-bold">Sign Up</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>    

    <!-- <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign In with Google
          </a>
        </div>
      </div>
    </div> -->


<%- include('partials/footer') %>
