<%- include('partials/header') %>
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5">

              <h2 class="fw-bold mb-2 text-uppercase">Sign up</h2>
              <p class="text-white-50 mb-5">Please enter your login and password!</p>
              <form action="/register" method="POST">

                  <div class="form-outline form-white mb-4">
                    <input type="email" class="form-control form-control-lg" name="email" placeholder="Username" required>
                  </div>
                  
                    <p class="text-danger"> <%= usernameTaken %> </p>
    
                  <div class="form-outline form-white">
                    <input type="password" id="password" class="form-control form-control-lg" name="password" placeholder="Password" required>
                  </div>  

                  <div class="form-outline form-white mb-4">
                    <input type="password" id="confirmPassword" class="form-control form-control-lg" name="confirmPassword" placeholder="Confirm password" required>
                  </div>

                  <small class="text-danger" id="passwordMatchError" style="display: none;">Passwords do not match</small>

                  <button class="btn btn-outline-light btn-lg px-5" type="submit">Signup</button>


              </form>

            </div>

            <div>
              <p class="mb-0">Already have an account? <a href="/login" class="text-white-50 fw-bold">Login</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  const passwordInput = document.getElementById('password');
  const confirmPasswordInput = document.getElementById('confirmPassword');
  const passwordMatchError = document.getElementById('passwordMatchError');
  
  function checkPasswordMatch() {
    if (passwordInput.value !== confirmPasswordInput.value) {
      passwordMatchError.style.display = 'block';
    } else {
      passwordMatchError.style.display = 'none';
    }
  }
  
  passwordInput.addEventListener('input', checkPasswordMatch);
  confirmPasswordInput.addEventListener('input', checkPasswordMatch);
</script>


<%- include('partials/footer') %>