<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Hello !</h1>
    <p class="secret-text">Here are people secrets anonymosly!</p>
    <hr>
    <% secrets.forEach((function(foundSecret){ %>
      <div class="secret-text">
        <p><%= foundSecret.secret %></p>
        <p><%= foundSecret.date %></p>
      </div>
    <% } )) %>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
