
body {
  background-color: #E8ECEF;
}
h1{
  text-align: center;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  color: #fff;
  background-color: #000;
}

.secret-date {
  color: #fff;
  text-align: left;
}

.row{
  width: 90%;
  margin-left: 21%;
}